{
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-vars": [2]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import", "react"]
}
